  <!-- Begin MailChimp Signup Form -->
  <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
  <style type="text/css">
    #mc_embed_signup{background:transparent; clear:left; font:14px Helvetica,Arial,sans-serif; width: 500px; margin: 0 auto; }
    #mc_embed_signup input.email { float: left; }
    #mc_embed_signup input.button { display: inline-block; }
    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
       We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
  </style>
  <div id="mc_embed_signup">
    <form action="//willamette24.us14.list-manage.com/subscribe/post?u=ee7cc1b0461f27ea5715a376f&amp;id=c9bcc4f5fa" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
        <label for="mce-EMAIL">Subscribe to our newsletter</label>
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ee7cc1b0461f27ea5715a376f_c9bcc4f5fa" tabindex="-1" value=""></div>
      </div>
    </form>
  </div>
  <!--End mc_embed_signup-->